<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.leaguestats">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".NavigationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SummonerActivity"
            android:parentActivityName=".NavigationActivity" />
        <activity
            android:name=".ChampionListActivity"
            android:parentActivityName=".NavigationActivity" />
        <activity
            android:name=".ChampionDetailActivity"
            android:parentActivityName=".NavigationActivity"
            android:theme="@style/ChampionTheme" />
        <activity
            android:name=".ItemActivity"
            android:parentActivityName=".NavigationActivity" />
        <activity
            android:name=".SummonerSpellActivity"
            android:parentActivityName=".NavigationActivity" />

        <service
            android:name=".sync.LeagueSyncIntentService"
            android:exported="false" />
        <service
            android:name=".sync.LeagueFirebaseJobService"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.firebase.jobdispatcher.ACTION_EXECUTE" />
            </intent-filter>
        </service>

    </application>

</manifest>